a {text-decoration: none}
a:hover, a:visited, a:link, a:active {color: #333333}
li {list-style: none;}
* {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: 微软雅黑;
}
body {
    background: #f5f6f7;
    height: 100%;
}
.header {
    width: 100%;
    min-width: 1000px;
    height: 44px;
    background: #fff;
    box-shadow: 0 1px 11px 2px #ccc;
    position: fixed;
    top: 0;
    left: 0;
}
.log {
    padding-left: 15px;
    float: left;
}
.log-font {
    font-size: 24px;
    color: #009a61;
    vertical-align: middle;
    line-height: 44px;
}
.nav {
    padding: 0 20px;
    float: left;
}
.nav>ul {
    overflow: hidden;
    line-height: 44px;
}
.nav>ul>li {
    float: left;
    padding: 0 10px;
}
.nav>ul>li>a:hover {
    color: #009a61;
    font-size: 13px;
}
.auth {
    float: right;
    line-height: 44px;
    padding-right: 15px;
}
.button {
    padding: 3px 10px;
    font-size: 14px;
    border: none;
    border-radius: 10px;
}
.content {
    padding-top: 44px;
    height: 100%;
}